
<div class="container">
  <navbar></navbar>
  <header class="hero-unit" id="banner">
    <div class="container">
      <h1 >Welcome!</h1>
      <p class="">Helping with all your safety needs</p>
      <!-- <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
    </div>
  </header>

<div class="">
  <div class="row">
    <!-- <div class="col-log-12">
      <div style="height: 305px">
        <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
          <uib-slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;">
            <div class="carousel-caption">
              <h4>Slide {{$index}}</h4>
              <p>{{slide.text}}</p>
            </div>
          </uib-slide>
        </uib-carousel>
      </div>
    </div>-->
  </div>
</div>

  <div class="">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">What we do</h1>
        <div class="container">
          <p>
            Oklahoma Home & Safety Inspectors LLC is a fully licensed insured and bonded company that is available to provide you with top notch home inspections where integrity is priority one.
          </p>
      </div>
        <!-- <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
          <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
        </ul> -->
      </div>
    </div>
  </div>


  <!-- <div class="">
    <div class="row">
      <div class="col-lg-12">
        <h1>A series of photo of doing safety</h1>
        <center>[Insert Image Carosal Here]</center>
      </div>
    </div>
  </div> -->

  <div class="">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">How we do it</h1>
        <p class="container">  [What would you like this to say?]</p>
      </div>
    </div>
  </div>
</div>

<footer></footer>
